<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			html, body {
				height:100%;
				width:100%;
			}
			td {
				text-align:center;
				vertical-align: middle;
			}
		</style>
		<title>Quesity Dashboard</title>
	</head>
	<body>
	<table style="height:99%; width:99%;">
		<tr>
			<td>
				<a href="/googi/new_article">Submit New Article</a><br/>
				<a href="/googi/article_list">List Articles</a>
			</td>
		</tr>
		<tr>
			<td>
			.<br/>
			.<br/>
			.<br/>
			More to come...		
			</td>

		</tr>
	</table>
</body>
</html>