extends layout

block content
    .responsive-slider-parallax(data-spy='responsive-slider', data-parallax='true', data-parallax-direction='-1', data-transitiontime='1000', data-autoplay='true')
      .slides-container(data-group='slides')
        ul
          li
            .slide-body(data-group='slide')
              .container
                .wrapper
                  .caption.header(data-animate='slideAppearRightToLeft', data-delay='0', data-length='300')
                    h2 Neat theme
                    p.sub.text-left(data-animate='slideAppearLeftToRight', data-delay='300', data-length='300')
                      span Clean and modern design
                    p.sub.text-left(data-animate='slideAppearLeftToRight', data-delay='500', data-length='300')
                      span Lightweight
                    p.sub.text-left(data-animate='slideAppearLeftToRight', data-delay='700', data-length='300')
                      span Standards compliant
          li
            .slide-body(data-group='slide')
              .container
                .wrapper
                  .caption.header.text-center(data-animate='slideAppearUpToDown', data-delay='0', data-length='300')
                    h2 Twitter Boostrap
                    p.sub(data-animate='slideAppearDownToUp', data-delay='300', data-length='300')
                      span Compatible with version 3
                    p.sub(data-animate='slideAppearDownToUp', data-delay='500', data-length='300')
                      span Perfectly compatible with grid system
                    p.sub(data-animate='slideAppearDownToUp', data-delay='700', data-length='300')
                      span Bootstrap compatible Slider and Calendar plugins
          li
            .slide-body(data-group='slide')
              .container
                .wrapper
                  .caption.header.text-right(data-animate='slideAppearDownToUp', data-delay='0', data-length='300')
                    h2 Html color classes
                    p.sub(data-animate='slideAppearUpToDown', data-delay='300', data-length='300')
                      span "Flat UI" colors palette
                    p.sub(data-animate='slideAppearUpToDown', data-delay='500', data-length='300')
                      span Made to modify any layout element
    section.background-clouds(style="padding-top:10px")
      .container
        .row
          .col-md-12
            h2(style="text-align:center") Quesity is currently on an open beta in Israel
            .info-row(style="padding-top:50px")
              .content.info-right(style='vertical-align: top;')
                h1.info-head A Tour and a Game?
                p(style='font-size:1.5em')
                  | Quesity is a mobile app that turns every trip to a big city into an exciting adventure. Travel back in time to the roaring 20s and meet the founders of Tel Aviv, or take a trip to Jerusalem following in the steps of Matan the collector to solve the mystery of the missing pistol! So what are you waiting for? Download Quesity and get traveling!
                div(style='margin-top:2em; text-align:left; padding-right:2em;')
                        a(href="https://play.google.com/store/apps/details?id=com.quesity.app")
                                img(src='img/play_icon.png' style="display:inline")
              .content.link
                .video-container(style='box-shadow: 10px 10px 5px #888888;')
                  iframe(width='560', height='315', src='//www.youtube.com/embed/rK9MRNFanv0', frameborder='0', allowfullscreen='allowfullscreen')

                
    section
      .container
        h1
          | New Trips at Quesity
        .row
          .col-sm-4.col-md-4
            .info-thumbnail-link
              .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
                img(src='img/mini-israel.jpg', alt='...')
                .icon
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x.color-alizarin
                    span.fa.quest-location-markers.fa-stack-1x.color-white Latrun
                .caption.bordered.background-clouds
                  h3 Tsvika’s Journey
                  p.description
                    | On this tour of Mini Israel made special for kids, the whole family can join Tsvika Nachlieli in this (mini) nation-wide search for is brother. Along the way you’ll meet comical characters and get to solve all kinds of puzzles and challenges while getting familiar with a large amount of Israeli history. Why can’t a crane operator in Haifa finish a single sentence? How do you speak the language of ‘P’?  And who’s visited the presidential suite at the King David Hotel?
                  p.buttons
                    a.btn.btn-lead(href='/quests#mini-israel') More ...
          .col-sm-4.col-md-4
            .info-thumbnail-link
              .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
                img(src='img/matan.jpg', alt='...')
                .icon
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x.color-alizarin
                    span.fa.fa-stack-1x.color-white.quest-location-markers(style="font-size:0.35em !important;") Jerusalem
                .caption.bordered.background-clouds
                  h3 The Mystery of the Ancient Pistol
                  p.description
                    | Matan is a collector of ancient items and old stories. On this tour written by 
                    b Glilah Ron Feder 
                    | we join Matan in his search for the lost pistol of Ze’ev Jabotinsky, one of the first zionists. Take the tour yourself and try to decipher codes to find his personal, ancient pistol. Beware of shady antique dealers and like good detectives, follow the paths step by step that Jabotinsky once took.
                  p.buttons
                    a.btn.btn-lead(href='/quests#matan_asfan') More ...
          .col-sm-4.col-md-4
            .info-thumbnail-link
              .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
                img(src='img/tel_aviv_adv.jpg', alt='...')
                .icon
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x.color-alizarin
                    span.fa.fa-stack-1x.color-white.quest-location-markers Tel Aviv
                .caption.bordered.background-clouds
                  h3 Adventures in the First Hebrew City
                  p.description
                    | The exciting and entertaining tour ‘Adventures in the Hebrew City’ takes place in Tel Aviv in the 1920s. You’ll find a city with her own language, her own culture, and her own personality which are all a far cry from what can be observed in Tel Aviv today. If you find yourself caught in the web of this city we’re doubtful that you’ll know how to get by as its residents once did… but you’re invited to try!
                  p.buttons
                    a.btn.btn-lead(href='/quests#tlv_adventures') More ...
        .row
          .col-sm-4.col-md-4
            .info-thumbnail-link
              .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
                img(src='img/radio_broadcast_en.jpg', alt='...')
                .icon
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x.color-alizarin
                    span.fa.fa-stack-1x.color-white.quest-location-markers Tel Aviv
                .caption.bordered.background-clouds
                  h3 The Radio Above The Square (Coming soon)
                  p.description
                    | The wacky radio station 99.99 FM invites its listeners to join an unforgettable radio-phone game. Come join the station for a live show from their studio located above Rabin Square in central Tel Aviv. Everyone knows how this journey begins … but it’s in no way clear how it might end.
                  p.buttons
                    a.btn.btn-lead(href='#') More ...
          .col-sm-4.col-md-4
            .info-thumbnail-link
              .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
                img(src='img/higayon_en.jpg', alt='...')
                .icon
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x.color-alizarin
                    span.fa.fa-stack-1x.color-white.quest-location-markers Tel Aviv
                .caption.bordered.background-clouds
                  h3 Common Sense
                  p.description
                    Common Sense is a tour built to challenge fans and lovers of logic puzzles. The trip is comprised of logic puzzles that will lead you to various sites across the great city of Tel Aviv. Do you like a good mental challenge? Does the ability to solve logic puzzles flow through the very blood in your veins? Start this tour to find out the great surprise that awaits you at the end!
                  p.buttons
                    a.btn.btn-lead(href='') More ...
          .col-sm-4.col-md-4
            .info-thumbnail-link
              .thumbnail.info-thumbnail.with-icon.background-clouds.color-text
                img(src='img/megila_en.jpg', alt='...')
                .icon
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x.color-alizarin
                    span.fa.quest-location-markers.fa-stack-1x.color-white Tel Aviv
                .caption.bordered.background-clouds
                  h3 The Lost Declaration of Independence 
                  p.description
                    | It’s another marvelous story from the archives of Matan the Collector, and this time it’s all about the Israeli Declaration of Independence. Join Matan in his attempt to prove an ancient rumor about the Declaration of Independence and don’t forget to be wary of shady antique dealers! Matan the Collector - Coming soon to the heart of Tel Aviv.
                  p.buttons
                    a.btn.btn-lead(href='#') More ...


    section.image-bg.color-white(style='background-image: url(img/image-bg.jpg);')
      .container
        .reduce-top-margin
          h1.no-border Visit us on the social networks!
          .row
            .col-xs-6.col-sm-4.col-md-3
              a(href='https://www.facebook.com/quesityapp' target="_blank")
                span.fa.fa-facebook(style='font-size: 6em;')
            .col-xs-6.col-sm-4.col-md-3
              a(href='https://twitter.com/quesity' target="_blank")
                span.fa.fa-twitter(style='font-size: 6em;')
            .col-xs-6.col-sm-4.col-md-3
              a(href='http://www.youtube.com/channel/UCeosLWeHOnLgwgm94Yw_nTw' target="_blank")
                span.fa.fa-youtube(style='font-size: 6em;')
            .col-xs-6.col-sm-4.col-md-3
              a(href='https://plus.google.com/107697014583531076169/' target="_blank")
                span.fa.fa-google-plus(style='font-size: 6em;')
