doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    include _partial/head
  body(class=bodyclass)
    header#page-header
      div#masthead
        block header
          h1#site-title
            a(href=config.root)= config.title
          p#site-slogan= config.subtitle
          
    section#content
      section
        .container
            .row
              .col-md-9
                block main_content
              .col-md-3
                  block side_content        
    footer#page-footer
      include _partial/footer