extends base

block main_content
    include _partial/article_list.jade
    include _partial/article_list_pagination
block side_content
    h3 Archives
    #{list_archives({class:"side"})}
    include _partial/category_list.jade