extends index

append window_title
  &nbsp;&#124;&nbsp; 
  = page.title
block main_content
    .blog-entry
      include _partial/article_meta
      .blog-entry-content.no-border
        .category 
            +category(page.categories)
        h1= page.title
        .date
            +date(page.date)
        .content
            != page.content
    include _partial/article_pagination