extends layout
block content
    .background-clouds.breadcrumbs-container
        .container
            ol.breadcrumb
              li
                a(href='/') עמוד הבית
              li.active מי אנחנו
        section
          .container
            .row
              .content
                h1 מי אנחנו?
                p
                  | אנחנו קבוצה של אנשי טכנולוגיה ותוכן בעלי חיבה עמוקה לטיולים ולמקומות עם סיפורים מעניינים.
                  | הקמנו את Quesity
                  | מתוך רצון לספר את הסיפורים המעניינים שיש למקומות שמקיפים אותנו להציע, בדרך יחודית ומשעשעת שתפנה לכל הקהלים.
                  | ב-Quesity ,
                  | כל טיול הופך למשחק הרפתקאות, שבו אתם - השחקנים, במרכז העלילה.
        section
          .container
            .reduce-top-margin
              h1
              .row
                .col-xs-6.col-sm-4.col-md-4
                  img.thumbnail.gallery-thumbnail(src='img/lior.jpg', alt='...')
                  br
                  p.lead.text-center(style='width: 90%;')
                    | ליאור צימרמן
                    br
                    | מייסד ומפתח
                .col-xs-6.col-sm-4.col-md-4
                  img.thumbnail.gallery-thumbnail(src='img/tomer.jpg', alt='...')
                  br
                  p.lead.text-center(style='width: 90%;')
                    | תומר צימרמן
                    br
                    | מייסד ומנהל תוכן
                .col-xs-6.col-sm-4.col-md-4
                  img.thumbnail.gallery-thumbnail(src='img/nir.jpg', alt='...')
                  br
                  p.lead.text-center(style='width: 90%;')
                    | ניר שחרור
                    br
                    | איור וקריאייטיב
