extends layout
block content
    .background-clouds.breadcrumbs-container
        .container
            ol.breadcrumb
              li
                a(href='/') עמוד הבית
              li.active מי אנחנו
        section
          .container
            .row
              .content
                h1 מי אנחנו?
                p(style="padding:1em;")
                  | אנחנו קבוצה של אנשי טכנולוגיה ותוכן בעלי חיבה עמוקה לטיולים ולמקומות עם סיפורים מעניינים.
                  | הקמנו את Quesity
                  | מתוך רצון לספר את הסיפורים המעניינים שיש למקומות שונים להציע בדרך יחודית, משעשעת ומעניינת.
                  | ב-Quesity ,
                  | כל טיול הופך למשחק הרפתקאות שבו אתם - השחקנים, נמצאים במרכז העלילה.
        section
          .container
            .reduce-top-margin
              h1
              .row
                .col-xs-6.col-sm-4.col-md-4
                  img.thumbnail.gallery-thumbnail.authors-img(src='img/lior.jpg', alt='...')
                  br
                  p.lead.text-center(style='width: 70%;')
                    | ליאור צימרמן
                    br
                    | מייסד ומפתח
                    br
                    a(href="http://www.facebook.com/LiorZimmerman" target="_blank")
                        span.fa.fa-facebook.authors-social-links
                    a(href="mailto:lior@quesity.com")
                        span.fa.fa-envelope-o.authors-social-links
                        
                    a(href="http://www.twitter.com/LiorZMan" target="_blank")
                        span.fa.fa-twitter.authors-social-links
                    
                    a(href="http://www.linkedin.com/profile/view?id=10379318" target="_blank")
                        span.fa.fa-linkedin.authors-social-links
                .col-xs-6.col-sm-4.col-md-4
                  img.thumbnail.gallery-thumbnail.authors-img(src='img/tomer.jpg', alt='...')
                  br
                  p.lead.text-center(style='width: 70%;')
                    | תומר צימרמן
                    br
                    | מייסד ומנהל תוכן
                    br
                    a(href="http://www.facebook.com/Tomer.Zimmerman.1" target="_blank")
                        span.fa.fa-facebook.authors-social-links
                    a(href="mailto:tomer@quesity.com" target="_blank")
                        span.fa.fa-envelope-o.authors-social-links
                    a(href="http://www.linkedin.com/profile/view?id=339573936" target="_blank")
                        span.fa.fa-linkedin.authors-social-links                        
                .col-xs-6.col-sm-4.col-md-4
                  img.thumbnail.gallery-thumbnail.authors-img(src='img/nir.jpg', alt='...')
                  br
                  p.lead.text-center(style='width: 70%;')
                    | ניר שחרור
                    br
                    | איור וקריאייטיב
                    br
                    a(href="https://www.facebook.com/CARTOONISH" target="_blank")
                        span.fa.fa-facebook.authors-social-links
                    a(href="mailto:nirshahrur3@gmail.com" target="_blank")
                        span.fa.fa-envelope-o.authors-social-links                        
