doctype html
html
  head
    title Quesity
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')



    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(href='css/neat.css', rel='stylesheet', media='screen')

  body
    html(dir='rtl')
      head
        title Quesity
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
        link(href='css/neat.css', rel='stylesheet', media='screen')
 

        link(href='http://fonts.googleapis.com/css?family=Open+Sans|Dosis:200,400,800|Fontdiner+Swanky', rel='stylesheet', type='text/css')
 

      body(dir='rtl')
        nav#mainMenu.navbar.navbar-default.navbar-fixed-top(role='navigation')
          .container
            a.navbar-brand(href='index.html', style='float: right;')
              img(src='img/logo.png', alt='logo')


            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar


            .collapse.navbar-collapse.navbar-ex1-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='aboutus.html') צור קשר
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') בלוג
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') הטיולים 
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') מה זה בכלל?
                li
                  a(href='contact.html') עמוד הבית


