block variables
    - var title = "מה זה בכלל?"
extends layout
block content
  .background-clouds.breadcrumbs-container
    .container
        ol.breadcrumb
          li
            a(href='index.html') עמוד הבית
          li.active מה זה בכלל?
    section
      .container
        .row
          .col-md-9
            .content
              h1 מה זה בכלל?
              p
                img(src='img/what_is_it_cover.jpg', alt='...')
              a(name='intro')
                h2(style='padding-top: 2em;') הקדמה
              #img_container(style='float: left;')
                img(src='img/location_screen.jpg')
              p.lead
                | Quesity היא אפליקציה המציעה מגוון של סיורים, אבל איך זה בדיוק עובד? מאוד פשוט. נסביר:
                | ברגע שבחרנו בסיור מסוים, כלומר ב -  Quest, נתבקש להגיע אל נקודת ההתחלה שלו המופיעה על המפה. רק שם נוכל להתחיל במשחק.
              p.lead
                | כל Quest  הוא עולם ומלואו. לכל Quest סיפור משלו וכל Quest מתרחש באזור משלו. לדוגמא, ב - Quest 'הרפתקאות בעיר העברית' ניכנס להרפתקה מוזרה משנות העשרים שמתרחשת באזור של שדרות רוטשילד שבתל אביב.
                | תוך כדי הטיול, ניחשף אט אט לעלילה שבה גם אנחנו,      השחקנים, לוקחים חלק!
              a(name='how')
                h2(style='padding-top: 2em;') כיצד בנוי Quest?
              p.lead
                | Quest מורכב מעמודים המוצגים בטלפון החכם שלנו. עמודים אלו מכילים תמונות, צלילים, מלל, או בקיצור – כל מה שצריך בשביל לספר את הסיפור. לפעמים המעבר בין העמודים הוא פשוט על ידי לחיצה על כפתור, אבל בדרך כלל זה יותר מורכב.
              p.lead
                | יש פעמים שנענה על חידות. התשובות לחידות כאלו הן מילים או 
                i טקסט 
                | כלשהו. למשל – חידה שפתרונה היא כתובת סודית. הכתובת מוטבעת על חומות העיר ממש בסמוך אלינו ועלינו למצוא אותה.
              p.lead
                | יש מצבים שבהם יש כמה
                i  אפשרויות 
                | שונות להמשך. אנו נבחר את אחת מהאפשרויות המוצגות לפנינו והעלילה תימשך בהתאם לבחירתנו.
              p.lead
                | כמובן, לפעמים נידרש להגיע
                i  למקומות 
                | מסוימים ונוכל להמשיך בעלילה רק כשנגיע.
              p.lead
                | ואם "נתקענו"? מה קורה אם המשימה קשה מדי?
              p.lead
                | בדיוק בשביל זה יש רמזים. אך שימו לב: במהלך ה Quest תוכלו להשתמש בכמות מוגבלת של רמזים, אז השתמשו בהם בחוכמה.
              p.lead
                | כמו כן, כדאי לדעת שבתפריט הראשי יש אפשרות להציג את עצמנו על המפה. זה יעזור לנו לנווט ממקום למקום. יש שם גם קישור ל Google ול - Wikipedia שלפעמים יכולים לעזור לנו במהלך ה Quest. עוד כמה נושאים ששווה להזכיר מופיעים למטה ב - 'שאלות נפוצות'.
              a(name='tips')
                h2(style='padding-top: 2em;') טיפים שימושיים
              ul.lead.quest-tips
                li
                  b כמה זמן? 
                  | אתם יוצאים לטיול רגלי בעיר. בדקו באפליקציה, עוד לפני שאתם מתחילים, כמה זמן בערך לוקח לסיים את ה – Quest  שבחרתם. תיאום ציפיות זה תמיד חשוב...
                  img(src="img/old_lady.jpg" style="float:left;")
                li
                  b סוללה: 
                  | כדאי שהסוללה תהיה טעונה היטב. מחטיבת המחקר של Quesity נמסר ש Quest ממוצע צורך מטלפון ממוצע כ – 22% מחיי הסוללה שלו.
                li
                  b דרך ארץ קדמה לתורה: 
                  | אז בבקשה לא לדחוף זקנות בדרך, לא לחצות מעברי חציה באור אדום ואת הפסולת להשליך תמיד תמיד לפח.
                li
                  b הנאה: 
                  | תהנו.
              
              a(name='faq')
                h2(style='padding-top: 2em;') שאלות נפוצות
              ol.faq.lead
                li
                  b כמה רמזים אפשר לקחת במהלך ה Quest?
                  div
                    | זה משתנה בין Quest ל Quest, אבל חשוב לזכור שיש כמות מוגבלת של רמזים.
                li
                  b
                    | לפעמים יש משימות שבהן אנו נדרשים להגיע למקום כלשהו. כמה קרוב להגיע? עד כמה ה – GPS מדויק?
                  div
                    | ה – GPS מדויק עד לרמה של מטרים ספורים.  "מאחורי הקלעים" של כל משימת מיקום יש תחום (מעגל בעל רדיוס מסוים). גודל התחום יכול להיות שונה ממשימה למשימה, אך לעולם לא יהיה קטן מ 10 מטרים.
                li
                  b אם הפסקתי את ה – Quest  באמצע והלכתי לאכול בגט?
                  div
                    | מצוין. תמיד תוכל לחזור לאותה הנקודה ב – Quest שבה הפסקת.
                li
                  b יש ניקוד?
                  div
                    | בוודאי. בעתיד הקרוב כל אחד יוכל להיכנס לפרופיל האישי שלו ולראות את הניקוד וההישגים שהוא צבר ב – Quesity.
                li
                  b מה יש ב My Quests?
                  div
                    | ב – My Quests נמצאים כל ה – Questים שסימנו בשביל עצמנו בסימניה וכל ה – Questים שכבר סיימנו.
                li
                  b אם אני רוצה ליצור Quest  בעצמי?
                  div
                    | זה מבורך. בעתיד נשחרר לקהל הרחב את תוכנת בניית ה Qusetים וכל אחד יוכל להיות יוצר של Questים. נוכל לבנות Quest  פרטי רק לנו ולחברינו או Quest שנשווק לכולם. בעוד שבניית ה Quest עצמו היא קלה, העבודה המקדימה הכוללת את המצאת הסיפור והמסלול דורשת מאיתנו מאמץ ויצירתיות.
                li
                  b
                    | יש לי רעיון לתוספת מגניבה בשבילכם שבודקת את הדופק הממוצע של שחקן בעת לקיחת רמזים בנקודות זמן שונות במהלך ה – Quest.
                  div
                    | תודה, רעיון מצוין! אנחנו תמיד שמחים לקבל פניות, רעיונות והארות. צרו איתנו קשר (ממש כאן למטה).
          .col-md-3
            .list-group.bright.background-clouds.color-text(style="position:fixed; width:12%;")
              .list-group-item
                h3 תפריט
              a.list-group-item(href='#intro')
                | הקדמה
              a.list-group-item(href='#how') כיצד בנוי Quest?
              a.list-group-item(href='#tips') "טיפים" שימושיים
              a.list-group-item(href='#faq') שאלות נפוצות

